body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #1D3461;
    color: black;
}

.form-box {
    background-color: #F3EFF5;
    padding: 20px;
    margin: auto;
    width: 50em;
    border-radius: 10px;
}
.mail-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.mail-box input{
    width: 57%;
}
.avatar-name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
    gap: 24px;
}
.username{
    display: flex;
    align-items: center;
    gap: 8px;
}
#comentarioCaja {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
select{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
textarea{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background: #43A33C;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

button:hover {
    background: #368230;
}

.comments {
    margin-top: 20px;
}

.comentarioCuadro {
    background-color: #F3EFF5;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    margin: 10px auto;
    width: 350px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: left;
    position: relative;
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.comentario-content {
    flex: 1;
}

.comentario-content p {
    margin: 5px 0 0;
}

small {
    color: gray;
}
.comentario{
    display: flex;
}
.delete-btn {
    background: #8D5B4C;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    width: auto;
    top: 5px;
    right: 5px;
}

.delete-btn:hover {
    background: #744b3e;
}