body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.form-box {
    background-color: #f4f4f4;
    padding: 20px;
    margin: auto;
    width: 300px;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

button:hover {
    background: #218838;
}

.comments {
    margin-top: 20px;
}

.comment {
    background-color: #f4f4f4;
    padding: 10px;
    margin: 10px auto;
    width: 300px;
    border-radius: 5px;
    text-align: left;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.delete-btn:hover {
    background: darkred;
}
.comentario{
    display: flex;
}
.comentario p{
    margin-left: 8px;
}