.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2rem;
}
.form-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}